@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}
/* shared styles */

.display-flex{
  display: flex;
}
 main, section{
  margin-top: 130px;
 }
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
  width:100%;
}
.btn-primary{
  background-color:#FF900E ;
  color: white;
  font-size:1.25rem ;
  font-weight:600;
  padding: 20px 25px ;
  border-radius: 8px ;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
/* header styles */
/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  
}
.brand{
  font-size:3rem ;
  font-weight: bold;
}
.nav-item{
  list-style: none; 
  margin-right: 30px ;
}
.nav-link{
  text-decoration: none;
  
  font-size: 18px;
  font-weight: 500;
}
.navbar,.banner{
  max-width: 1440px ;
  margin: 0 auto;
}
/* banner styles  */
.banner-content{
  max-width:850px ;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px ;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
  margin-bottom: 50px;
  border-radius: 30px;
}
.teams{
  align-items: center;
}
.team-img-comtainer{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 24px;
  height: 100%;
  width: 100%;
}
.our-features{
  margin-left: 130px;
}
.features-title{
  font-size: 2.5rem;
  max-width: 300px;
}
.Quick{
  color: #424242;
}
.Features{
  color: #d87d15;
}
.features-description{
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}






.section-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: #131313;
}
.text-light{
  /* max-width: 350px; */
  font-size: 1rem;

}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-crad{
  border: 1px solid #d87d15;
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  justify-content: center;
  padding: 30px 10px;
  align-items: center;
  text-align: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#424242 ;
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
  color: #727272;
}
.fact-icon{
  max-width: 50%;
}
/* features   related styles */


.features{
  display: flex;
  gap: 100px;
}

#features-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px ;
  margin-top: 0px ;
  margin-bottom: 0px ;
}


.features-crad{
  padding: 35px ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 10px;
}



.features-title{
  font-size: 1.25rem;
  font-weight: 600;
  max-width: 252px;
}
#Experience-main{
padding: 35px ;
font-size: 1.50rem;
font-weight: 500;
color: #FFFFFF;
margin-left: -90px ;
margin-top:-115px;
}
#Experience-years{
  font-size: 4rem;
  font-weight: 700;
  color: #FFFFFF ;

}
.features-jpn .features-img{
  width: 100%;
}
.features-img{
  margin-top: 215px;
}



 /* sponsor related styles  */
 .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
 }

 .sponsor-companis img{
  filter:grayscale(100%)
  
 }
 .sponsor-companis img {
  margin-left: 20px;
 }
 .sponsor-companis{
  text-align: center;
  padding-left: 10px;
  max-width: 100%;
 }
 .jpg{
  padding: 30px;
 }



/* responsive media quariy */
@media screen and (max-width:576px ) {
  .navbar,
  .nav-links ,
  .teams{
    flex-direction: column;
  }
  .team-img-comtainer {
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    /* margin-left: 50px;
    margin-right: 40px; */

  }
  .features{
    flex-direction: column;
  }
  .facts-container{
   width: 100%;
   
     grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
   margin-bottom: 20px;
   gap: 24px;
  }
 #Experience-main{
  margin-top: 20px;
  margin-left: 40px;
 }

  .our-features{
    margin-left: 20px;
   
  }
  .text-light ,.section-title {
    
    text-align: center;
   
  }
  .features-description{
    max-width: 100%;
    padding: 10px;
  }
  
}

@media screen and (min-width:567px) and (max-width:993px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
  
}

























